<section class = "Extra">
<form action='@Url.Action("Historia", "Home")' method = "post">
    <input type="submit" value="Historia">
</form>
<form action='@Url.Action("Volver", "Home")' method = "post">
    <input type="submit" value="Volver">
</form>
<img src = "../img/Cara Milmin.png">
<img src = "../img/Cara Patejim.jpg">
</section>