<section class = "Historia">
    <div>
<p>Llegas a la prision que te asignaron, luego de haber robado un banco. Por lo que tendrás que ingeniartelas para salir sin ser atrapado por la seguridad de la prision. Tendrás que pasar por los lugares más reconditos de la prision ¿Tendrás lo que se necesita para escapar? </p>
<form action='@Url.Action("Volver", "Home")' method = "post">
    <input type="submit" value="Volver">
</form>
</div>
</section>