<main>
<section class = "Index">
<div>  <h1>PRISON BREAK SIMULATOR</h1>
    <form action='@Url.Action("Registro", "Home")' method = "post">
        <input type="submit" value="Comenzar">
    </form>
    <form action='@Url.Action("Extra", "Home")' method = "post">
        <input type="submit" value="Extra">
    </form>
</div>
</section>

</main>