<h1>PRISION BRAKE SIMULATOR</h1>
<form action='@Url.Action("Comienzo", "Home")' method = "post">
    <input type="submit" value="COMENZAR">
</form>
<form action='@Url.Action("Extra", "Home")' method = "post">
    <input type="submit" value="Extra">
</form>