<section class = "index">
    <h1>PRISION BRAKE SIMULATOR</h1>
    <form action='@Url.Action("Registro", "Home")' method = "post">
        <input type="submit" value="Comenzar">
    </form>
    <form id = "Extra" action='@Url.Action("Extra", "Home")' method = "post">
        <input type="submit" value="Extra">
    </form>
</section>
