<body class="Registro">
    <form action='@Url.Action("Comienzo", "Home")' method = "post">
        Nombre:
        <input type="text" placeholder="Nombre" name="Nombre" required>
        Num de Celda:
        <input type="number" placeholder="ID" name="Id" required>
        <input type="submit" value="COMENZAR">
    </form>
</body>
