<section class = "Sala2">
<form action='@Url.Action("Respuesta", "Home")' method = "post">
    <input type="text" name="Respuesta" placeholder = "Clave...">
    <input type="submit" value="validar">
</form>
</section>