<section class = "Sala4">
<p>El codigo esta en la respuesta: "Conmigo, no hay afuera. Me levanto con ladrillos y barrotes, y aunque me odies, soy tu única realidad. Algunos me decoran, otros me maldicen, pero todos los que anhelan la libertad, primero deben enfrentarme"</p>
<form action='@Url.Action("Respuesta", "Home")' method = "post">
    <input type="text" name="Respuesta">
    <input type="submit" value="validar">
</form>
</section>