<section class = "Tutorial">
<p>Lorem ipsum ensepatries moriones anashei buenardovich polimardo 3 cafeteras y 4 propiedades</p>
<form action='@Url.Action("Volver", "Home")' method = "post">
    <input type="submit" value="Volver">
</form>
</section>