<section class = "VidaMenos">
<h1>perdiste una vida, ahora tienes @ViewBag.Vidas</h1>
<form action='@Url.Action("Reanudar", "Home")' method = "post">
    <input type="submit" value="Volver">
</form>
</section>