html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* INICIO SALA 1 JAVA */

.Sala1 button {
  display: block;
  margin: auto;
  width: 150px;
  height: 50px;
  margin-top: 59%;
  background-color: transparent;
  opacity: 0;
}

:modal {
  background-color: rgb(231, 231, 200);
  border: 2px solid burlywood;
  border-radius: 5px;
  margin: 20% 10% 0% 20%;
  height: 150px;
}

/* FIN SALA 1 JAVA */

*{
  margin: 0%;
  padding: 0%;
}
.Index {
  background-image: url("../img/fondoIndex.jpg");
  background-size: cover;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  padding: 20% 35% 15.5% 35%;
}
.Index div {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 3% 4%;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
}
.Index h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  letter-spacing: 2px;
}

.Index form {
  display: flex;
  justify-content: center;
}

.Index input[type="submit"] {
  padding: 10px 30px;
  font-size: 1rem;
  background-color: #c0392b;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Index input[type="submit"]:hover {
  background-color: #e74c3c;
}


.Registro {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  background-image: url('../img/Carcel-foto.jpg'); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #333;
}

.Registro-container {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 40px;
  border: 2px solid #e50914;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 20px #000;
  text-align: center;
}

.Registro-container h2 {
  margin-bottom: 20px;
  font-size: 1.8rem;
  color: #e50914;
  letter-spacing: 1px;
  
}

label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
  margin-top: 15px;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  background: #333;
  color: white;
}

input[type="submit"] {
  background-color: #e50914;
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 6px;
  font-weight: bold;
  margin-top: 15px;
  cursor: pointer; 
  transition: background 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #b00610;
}
.Sala1{
  background-image: url("../img/Sala1.png");
  background-position: center;
  background-repeat: no-repeat;
  padding: 24% 20% 0.5% 50%;
  background-color: rgb(56, 49, 27);
}

.Sala1 dialog button{
opacity: 10;
margin-top: 5%;
}

.Extra{
  background-image: url("../img/fondoIndex.jpg");
  background-size: cover;
  font-family: 'Courier New', Courier, monospace;
  padding: 15% 26% 9.8% 26%;
  display: inline-block;
}

.Extra div{
  background-color: rgba(0, 0, 0, 0.6);
  padding: 3% 4%;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  color: white;
  gap: 5px;
}

.Extra img{
  width: 30%;
  border-radius: 250px;
  margin: 5.2% 10%;
  float: left;
  box-shadow: 0px 0px 20px 5px rgb(0, 0, 0);
}

.Historia {
  background-image: url("../img/fondoIndex.jpg");
  background-size: cover;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  padding: 20% 35% 16.1% 35%;
}
.Historia div {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 3% 4%;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
}

.Historia div p{
  font-size: large;
}

.Sala2{
  background-image: url("../img/Sala2.PNG");
  background-size: cover;
  display: block;
  height: 575px;
  padding: 20% 40% 0% 40%;
}

.Sala2 form{
  padding: 2%;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  align-items: center;
  border-radius: 15px;
}

.Sala2 form input{
  width: 46%;
}

.Sala3{
  background-image: url("../img/Sala3.PNG");
  background-position: center;
  background-repeat: no-repeat;
  padding: 17% 28% 28% 27%;
  background-color: rgb(56, 49, 27);
}

.Sala3 form{
  width: 20%;
}

.Sala3 dialog{
  text-align: center;
}

.Sala3 dialog button{
opacity: 10;
margin-top: 5%;
}

.Sala3 button {
  float: right;
  margin: auto;
  width: 150px;
  height: 125px;
  margin-top: 0%;
  background-color: transparent;
  opacity: 0;
  margin-right: 15%;
}

.Sala4{
  background-image: url("../img/SalaFinal.png");
  background-size: cover;
  font-family: 'Courier New', Courier, monospace;
  justify-content: center;
  padding: 34% 35% 14.9% 35%;
}

.Perdedor{
  background-image: url("../img/Perdedor.png");
  background-size: cover;
  display: block;
  height: 1000px;
}

.Fin{
  background-image: url("../img/Sala5.png");
  background-size: cover;
  display: block;
  height: 1000px;
  background-position: center;
}

.VidaMenos{
  background-image: url("../img/VidaMenos.jpg");
  background-size: cover;
  background-position: center;
  display: block;
  height: 1000px;
  padding-top: 2%;
  text-align: center;
}